@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login_page {
  width: 360px;
  padding: 12% 0 10%;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius:15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 20px 0 rgba(12, 12, 12, 0.65), 0 5px 5px 0 rgba(0, 0, 0, 0.44);
  
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
#login_btn  {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fb5f2e;
  width: 100%;
  border: 0;
  padding: 20px;
  border-radius:40px;
  color: #FFFFFF;
  line-height:50px;
  font-size: 17px;
  cursor: pointer;
}
 #login_btn:hover{
  background-color: #4CAF50;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
    border-radius:9px;
  transform: translateY(-7px);
  font-weight: bold;
}
body {
  background: #f56437fa; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}