<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="map.mapper">
	<select id="nearmarker" resultType="web.map.MapVO">
	<![CDATA[
	SELECT b.*, u_nick b_nick, u_profileimg b_profileimg 
	FROM m_board b, m_user u 
	WHERE b.b_userid = u.u_userid 
	AND b_latitude - 0.032 < #{b_latitude} AND b_latitude + 0.032 > #{b_latitude} 
	AND b_longitude - 0.032 < #{b_longitude} AND b_longitude + 0.032 > #{b_longitude}
	]]> 
	</select>
</mapper>